{% extends 'base.html' %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block content %}
	<h1>{{title}}</h1>
	<hr/>

	<div class="col-md-6 col-md-offset-4">
		<form class="form" method="GET" action=".">
			<input type="text" size="30" placeholder="enter.." name="q" value='{{ request.GET.q }}'> &nbsp
			<button class="btn btn-default" type="submit">Submit</button>
		</form>
	</div>
	<br><br><br>

	{% if locations %}
	{% for rest in locations %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="thumbnail">
					<b>{{rest.title}}</b> {{rest.location}} | {{ rest.category }}
					<ul>
						{% for item in rest.item_set.all %}
							<li style="margin-top: 15px;">
								{{item.name}}</br>
								{% for ing in item.get_contents %}
									<span style='margin-right:24px; background-color: #ccc'> <a href="{{request.path}}?q={{ing}}"> {{ing}} </a></span>
								{% endfor %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
	{% else %}
	<h1>Not found</h1>
	{% endif %}
{% endblock %}